#banner
	.banner_content
		%h1 NoteBook
		%p Your online private notebook.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The most secure notebook app ever."
		%p.name - Métouole Mwinbé Yves Ghislain SOMDA -

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Notes
				%p On a tous des projets de nombreuses idées qui nous viennent à l'esprit, alors NoteBook est votre Caverne d'alibaba. 
			.callout
				%i.fa.fa-lock
				%h2 Secure
				%p Les notes que vous prennez sont entièrement sécurisées et protégées par une close de confidencialité.
				Promis pas d'espionnage MDR
			.callout
				%i.fa.fa-globe
				%h2 Global
				%p Cette application est entièrement free de nombreuses fontionnalités seront implémentées.structurer vos idées gardées leurs sous les yeux et restez toujours inspirez.

#bottom_cta
	.wrapper
		%h2 Seriously Awesome Notes!
		%p Why don't you sign up and no one else has to get hurt?
		%button= link_to "Click Me Bro", new_user_registration_path

%footer
	%p &copy; MetCorp Ingineering